---
title: 短信验证的设计
date: TODO
categories: [技术]
tags: [otp, TODO]
---

https://workku.atlassian.net/wiki/pages/viewpage.action?pageId=7733251
